<h2>商品新規登録</h2>

<%= form_with model: @item, url: admin_items_path do |f| %>
  <div class="field">
    <%= f.label :"商品画像" %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div class="field">
    <%= f.label :"商品名" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :"商品説明" %>
    <%= f.text_area :introduction %>
  </div>

  <div class="field">
    <%= f.label :"ジャンル" %>
    <%= f.select :genre_id, [["ケーキ", 1], ["プリン", 2], ["焼き菓子", 3], ["キャンディ", 4]], include_blank: "-- 選択してください --" %>
  </div>

  <div class="field">
    <%= f.label :"販売価格" %>
    <%= f.text_field :price %>円
  </div>

  <div class="field">
    <%= f.label :"販売ステータス" %>
      <%= f.radio_button :is_active, true %>
      <%= f.label :is_active, '販売中', value: true %>
      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active, '販売停止中', value: false %>
  </div>

  <%= f.submit '新規登録' %>

<% end %>