<h1>top page</h1>

<p>
  ようこそ、ながのCAKEへ！</br>
  このサイトは、ケーキ販売のECサイトになります。</br>
  会員でない方も商品の閲覧はできますが、</br>
  購入には会員登録が必要になります。</br>
</p>

<h5><strong>新着商品</strong></h5>
<% @items.each do |item| %>
  <%= link_to item_path(item.id) do %>
  <p><%= image_tag item.get_image(250, 200) %></p>
  <p><%= item.name %></p>
  <% end %>
  <p>¥<%= item.with_tax_price.to_s(:delimited) %></p>
<% end %>
<%= link_to "全ての商品を見る >", items_path %>