<div class="container">
  <div class="row my-4">
    <h4 class="bg-light text-center col-4"><%= @customer.last_name %><%= @customer.first_name %> さんの会員情報編集</h4>
  </div>
  
  <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch do |f| %>
    <div class="d-flex justify-content-start col-10">
      <p class="col-2">会員ID</p>
      <p class="col"><%= @customer.id %></p>
    </div>
    <div class="d-flex justify-content-start col-10">
      <p class="col-2">氏名</p>
      <p class="col-3"><%= f.text_field :last_name %></p>
      <p class="col-3"><%= f.text_field :first_name %></p>
    </div>
    <div class="d-flex justify-content-start col-10">
      <p class="col-2">フリガナ</p>
      <p class="col-3"><%= f.text_field :last_name_kana %></p>
      <p class="col-3"><%= f.text_field :first_name_kana %></p>
    </div>
    <div class="d-flex justify-content-start col-10">
      <p class="col-2">郵便番号</p>
      <p class="col"><%= f.text_field :postal_code %></p>
    </div>
    <div class="d-flex justify-content-start col-10">
      <p class="col-2">住所</p>
      <p class="col"><%= f.text_field :address, :size => "60" %></p>
    </div>
    <div class="d-flex justify-content-start col-10">
      <p class="col-2">電話番号</p>
      <p class="col"><%= f.text_field :telephone_number %></p>
    </div>
    <div class="d-flex justify-content-start col-10">
      <p class="col-2">メールアドレス</p>
      <p class="col"><%= f.text_field :email %></p>
    </div>
    <div class="d-flex justify-content-start col-10">
      <p class="col-2">会員ステータス</p>
      <p class="col">
        <%= f.radio_button :is_deleted, false %>
        <%= f.label :is_deleted, '有効', value: false %>
        <%= f.radio_button :is_deleted, true %>
        <%= f.label :is_deleted, '退会', value: true %></p>
    </div>
    <div class="d-flex justify-content-start col-10 my-4">
      <p class="col-2"></p>
      <p class="col-2"><%= f.submit "変更を保存", class: "btn btn-success btn-lg" %></p>
    </div>
  <% end %>
</div>