<div class="container">
  <div class="row my-4">
    <h4 class="bg-light text-center h-auto col-2">会員一覧</h4>
  </div>
  
  <table class="table col-10 mx-auto">
    <thead class="bg-light">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td class="align-middle"><%= customer.id %></td>
          <td class="align-middle">
            <%= link_to admin_customer_path(customer.id) do %>
              <%= customer.last_name %><%= customer.first_name %>
            <% end %>
          </td>
          <td class="align-middle"><%= customer.email %></td>
          <td class="align-middle">
            <% if !customer.is_deleted %>
              <p class="text-success">有効</p>
            <% else %>
              <p class="text-muted">退会</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="d-flex justify-content-center my-4">
    <%= paginate @customers %>
  </div>
</div>