<div class="container">
  <div class="row my-4 ml-5">
    <h4 class="bg-light text-center col-3">注文履歴詳細</h4>
  </div>
  
  <div class="d-flex justify-content-start">
    <p class="col-2 font-weight-bold">購入者</p>
    <p class="col">
      <%= link_to admin_customer_path(@order.customer.id) do %>
        <%= @order.customer.last_name + @order.customer.first_name %>
      <% end %>
    </p>
  </div>
  <div class="d-flex justify-content-start">
    <p class="col-2 font-weight-bold">注文日</p>
    <p class="col"><%= @order.created_at.strftime('%Y/%m/%d') %></p>
  </div>
  <div class="d-flex justify-content-start">
    <p class="col-2 font-weight-bold">配送先</p>
    <p class="col">
      〒 <%= @order.postal_code + @order.address %><br>
      <%= @order.name %>
    </p>
  </div>
  <div class="d-flex justify-content-start">
    <p class="col-2 font-weight-bold">支払方法</p>
    <p class="col"><%= @order.payment_method_i18n %></p>
  </div>
  <%= form_with model: @order, url: admin_order_path(@order.id) do |f| %>
  <div class="d-flex justify-content-start">
      <p class="col-2 font-weight-bold">注文ステータス</p>
      <p class="col-2">
        <%= f.select :order_status, [[Order.order_statuses_i18n[:waiting], Order.order_statuses.key(0)], [Order.order_statuses_i18n[:confirmed], Order.order_statuses.key(1)], [Order.order_statuses_i18n[:making], Order.order_statuses.key(2)], [Order.order_statuses_i18n[:shipping_preparation], Order.order_statuses.key(3)], [Order.order_statuses_i18n[:shipped], Order.order_statuses.key(4)]] %>
      </p>
      <p class="col-2"><%= f.submit '更新', class: "btn btn-success" %></p>
  </div>
  <% end %>
  
  <div class="row align-items-end mt-4">
    <div class="col-8">
      <table class="table">
        <thead class="bg-light">
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td class="align-middle"><%= order_detail.item.name %></td>
            <td class="align-middle"><%= order_detail.price.to_s(:delimited) %></td>
            <td class="align-middle"><%= order_detail.amount %></td>
            <td class="align-middle"><%= (order_detail.price * order_detail.amount).to_s(:delimited) %></td>
            <td class="align-middle">
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id) do |f| %>
                <%= f.select :making_status, [[OrderDetail.making_statuses_i18n[:cannot_making], OrderDetail.making_statuses.key(0)], [OrderDetail.making_statuses_i18n[:waiting], OrderDetail.making_statuses.key(1)], [OrderDetail.making_statuses_i18n[:making], OrderDetail.making_statuses.key(2)], [OrderDetail.making_statuses_i18n[:finished], OrderDetail.making_statuses.key(3)]] %>
                <%= f.submit "更新", class: "btn btn-success" %>
              <% end %>
            </td>
            <% @total += order_detail.price * order_detail.amount %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="col-3 offset-1">
      <div class="d-flex justify-content-between">
        <p class="font-weight-bold">商品合計</p>
        <p><%= @total.to_s(:delimited) %>円</p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="font-weight-bold">送料</p>
        <p><%= @order.shipping_cost %>円</p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="font-weight-bold">請求金額合計</p>
        <p class="font-weight-bold"><%= @order.total_payment.to_s(:delimited) %>円</p>
      </div>
    </div>
  </div>
</div>
