<div class="container">
  <div class="row my-4 ml-5">
    <h4 class="bg-light text-center">配送先登録 / 一覧</h4>
  </div>
  <div class="row">
    <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
      <div class="d-flex">
        <p class="col-6 font-weight-bold">郵便番号（ハイフンなし）</p>
        <p class="col"><%= f.text_field :postal_code, class: "border border-dark border-2 rounded" %></p>
      </div>
      <div class="d-flex">
        <p class="col-6 font-weight-bold">住所</p>
        <p class="col"><%= f.text_field :address, :size => "50", class: "border border-dark border-2 rounded" %></p>
      </div>
      <div class="d-flex">
        <p class="col-6 font-weight-bold">宛名</p>
        <p class="col-10"><%= f.text_field :name, class: "border border-dark border-2 rounded" %></p>
        <p class="col"><%= f.submit "新規登録", class: "btn btn-success" %></p>
      </div>
    <% end %>
  </div>
  <table class="col-10 table table-bordered">
    <thead class="bg-light">
      <tr>
        <th style="width: 10%">郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th style="width: 25%"></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
      <tr>
        <td class="align-middle"><%= address.postal_code %></td>
        <td class="align-middle"><%= address.address %></td>
        <td class="align-middle"><%= address.name %></td>
        <td>
          <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success mx-1" %> <%= link_to "削除する", address_path(address.id), method: :delete, class: "btn btn-danger ml-1" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>