<div class="container">
  <div class="row my-4">
    <h4 class="bg-light text-center">注文履歴詳細</h4>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <h6><strong>注文情報</strong></h6>
      </div>
      <div class="row">
        <table class="table table-bordered">
          <tr>
            <th class="bg-light">注文日</th>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th class="bg-light">配送先</th>
            <td>
              〒 <%= @order.postal_code %><br>
              <%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <th class="bg-light">支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th class="bg-light">ステータス</th>
            <td><%= @order.order_status_i18n %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-4 ml-3">
      <div class="row">
        <h6><strong>請求情報</strong></h6>
      </div>
      <div class="row">
        <table class="table table-bordered">
          <tr>
            <th class="bg-light">商品合計</th>
            <td><%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %></td>
          </tr>
          <tr>
            <th class="bg-light">配送料</th>
            <td><%= @order.shipping_cost.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th class="bg-light"><strong>ご請求額</strong></th>
            <td><%= @order.total_payment.to_s(:delimited) %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row ml-1">
    <div class="row">
      <h6><strong>注文内容</strong></h6>
    </div>
    <!--<div class="row mt-4 ml-0">-->
      <table class="table table-bordered">
        <thead class="bg-light">
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= (order_detail.price * order_detail.amount).to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <!--</div>-->
  </div>
</div>